.product-container {
  height: 100%;
  width: 20rem;
}

.product-image {
  margin: 5px auto 0;
  width: 150px;
}

.text-name-product-bold {
  font-family: Nunito, sans-serif;
  font-weight: 700;
}

.text-name-product{
  font-family: Nunito, sans-serif;
  padding: 18px 0;
}

.product-btns {
  display: flex;
  justify-content: space-between;
  max-height: 70px;
}

.name-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-free-shipping {
  width: 60px;
}

.price-free-shipping {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media screen and ( max-width : 600px ) {
  .product-container {
    width: 8rem;
  }

  .product-image {
    width: 60px;
  }

  .name-price {
    padding: 0 5px;
  }

  .text-name-product-bold, .text-name-product {
    font-size: 10px;
  }

  .img-free-shipping {
    width: 30px;
  }

  .product-btns {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    margin: 0 0 10px;
  }

  .product-btns a, .product-btns button {
    font-size: 10px;
  }
}