.card-shopping-container {
  align-items: center;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.card-shopping-img-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.card-shopping-img-title img {
  width: 100px;
}

.card-shopping-img-title p {
  text-align: center;
}

.card-shopping-quantity {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.card-shopping-quantity-change {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0 0;
  width: 100%;
}

.shopping-cart-price {
  display: flex;
  font-size: 23px;
  justify-content: center;
  width: 15%;
}

.shopping-cart-remove {
  display: flex;
  justify-content: center;
  width: 25%;
}

.quantity-btn {
  border: 2px solid black;
  border-radius: 100%;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  height: 40px;
  width: 40px;
}

.quantity-btn:disabled,
.quantity-btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #949292;
}

.shopping-cart-textbold {
  font-family: Nunito, sans-serif;
  font-weight: 700;
}

.shopping-cart-empty-message {
  color: black;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
}

@media screen and ( max-width : 855px ) {

  .card-shopping-container {
    display: flex;
    justify-content: space-between;
  }

  .card-shopping-img-title img {
    width: 50px;
  }
  
  .card-shopping-img-title p {
    text-align: center;
    font-size: 10px;
  }

  .shopping-cart-textbold {
    font-size: 15px;
    text-align: center;
  }

  .quantity-btn {
    height: 30px;
    width: 30px;
    font-size: 10px;
  }

  .card-shopping-quantity-change p {
    font-size: 10px;
  }

  .shopping-cart-remove button {
    font-size: 10px;
  }
}

@media screen and ( max-width : 460px ) {
  
  .card-shopping-container {
    display: flex;
    flex-direction: column;
  }

  .card-shopping-img-title, .card-shopping-quantity, .shopping-cart-price {
    width: 100%;
    margin: 0 0 10px;
  }

  .shopping-cart-remove {
    width: 90%;
  }
}