.card-shopping-container {
  align-items: center;
  background-color: white;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
}

.card-shopping-img-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.card-shopping-img-title img {
  width: 100px;
}

.card-shopping-img-title p {
  text-align: center;
}

.card-shopping-quantity {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.card-shopping-quantity-change {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 0 0;
  width: 100%;
}

.shopping-cart-price {
  display: flex;
  font-size: 23px;
  justify-content: center;
  width: 15%;
}

.shopping-cart-remove {
  display: flex;
  justify-content: center;
  width: 25%;
}

.quantity-btn {
  border: 2px solid black;
  border-radius: 100%;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  height: 40px;
  width: 40px;
}

.shopping-cart-textbold {
  font-family: Nunito, sans-serif;
  font-weight: 700;
}

.shopping-cart-empty-message {
  color: black;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  margin: 30px 0;
  text-align: center;
}