.check-product-container {
  background-color: white;
  border: 1px solid black;
  display: flex;
}

.check-product-title-image {
  align-items: center;
  display: flex;
  width: 40%;
}

.check-product-title {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  max-width: 250px;
}

.check-product-price {
  display: flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  justify-content: space-evenly;
  padding: 0 0 0 10px;
  width: 30%;
}

.check-product-totalprice {
  align-items: center;
  display: flex;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  justify-content: flex-start;
  width: 30%;
}

@media screen and ( max-width : 855px ) {
  .check-product-container {
    display: flex;
    justify-content: space-around;
  }

  .check-product-title, .check-product-price p, .check-product-totalprice {
    font-size: 10px;
  }

  .check-product-price, .check-product-totalprice {
    width: fit-content;
  }

  .total-value-checkout {
    font-size: 20px;
  }
}

@media screen and ( max-width : 540px ) {
  .check-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .check-product-title {
    width: fit-content;
  }

  .check-product-price {
    padding: 0;
  }

  .check-product-title-image, .check-product-price, .check-product-totalprice {
    width: fit-content;
    margin: 5px;
  }
}