.home-container {
  background-color: rgb(150, 150, 150);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.home-content {
  display: flex;
}

.home-categories {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home-categories h3 {
  align-self: center;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  color: white;
}

.home-btn-categories {
  background-color: white;
  color: black;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  margin: 5px 0;
  width: 100%;
}

.home-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.product-container-home {
  margin: 10px;
}

@media screen and ( max-width : 600px ) {
  .home-categories {
    padding: 5px;
  }

  .home-categories h3 {
    font-size: 15px;
  }

  .home-btn-categories {
    font-size: 10px;
  }
}