.details-loading-container {
  background-color: rgb(150, 150, 150);
  min-height: 100vh;
}

.details-loading-header {
  position: absolute;
  width: 100%;
}

.details-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.details-container {
  align-items: center;
  background-color: rgb(150, 150, 150);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.details-card {
  margin: 30px 0;
  width: 70%;
}

.details-img-product {
  max-height: 250px;
}

.details-align-image {
  text-align: center;
}

.details-product-details {
  margin: auto 0;
}

.details-text-change {
  font-family: Nunito, sans-serif;
  font-weight: 700;
}

.details-form {
  width: 100%;
}

@media screen and ( max-width : 540px ) {
  .details-card {
    width: 90%;
  }
}